__pycache__/
*.pyc
.pytest_cache/
*.egg-info/
.venv/
venv/
data/
webapp_data/
results/*
!results/predictions
!results/predictions/**
!results/visual_checks
!results/visual_checks/**
*.nii
*.nii.gz
!tests/**/*.nii
!tests/**/*.nii.gz
